[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipdb = "*"
django-debug-toolbar = "*"
nplusone = "*"
django-querycount = "*"

[packages]
django = "==2.2"
djangorestframework = "==3.9.2"
psycopg2-binary = "*"
django-split-settings = "*"
pathlib = "*"
python-decouple = "*"
django-csp = "*"
docutils = "*"
django-health-check = "*"
psutil = "*"
django-rest-auth = "==0.9.5"

[requires]
python_version = "3.7"
